@import 'utils/var';

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Thin.woff2') format('woff2'),
        url('../fonts/Raleway-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;

    a, a:visited{
        text-decoration: none;
    }

    

    ul{
        list-style: none;
    }

    font-family: 'Raleway';

    p{
        font-weight: bold;
    }
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1300px;
    height: 100px;

    img{
        height: 50px;
    }

    ul{
        display: flex;
        align-items: center;
        height: 100px;

        a, a:visited{
            color: black;
            
            width: 150px;
            text-align: center;
        }

        li{
            display: flex;
            align-items: center;
            font-weight: bold;
            color: black;
            height: 100%;
            width: 150px;
            border-top: 5px solid white;

            &:hover, &:active{
                color: $bleu;
                font-weight: bolder;
                border-top: 5px solid $bleu;

                a{
                    color: $bleu;
                }
            }
        }
    }
}

header{
    width: 90%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
}

.search{
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: solid $gris 2px;
    width: fit-content;
    height: 50px;

    &_icone{
        color: black;
        font-size: 20px;

        &_container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            background-color: $gris;
            border: transparent black 2px;
            border-radius: 15px 0 0 15px;
        }
    }

    &_form{
        font-weight: bold;
        height: 50px;
        border: none;
        font-size: 20px;
        width: 250px;
    }

    &_button{
        background-color: $bleu;
        color: white;
        border-radius: 0 15px 15px 0;
        border: none;
        height: 50px;
        font-size: large;

    }
}

.info{
    display: flex;
    align-items: center;

    &_icone{
        color: $bleu;

        &_container{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px $gris solid;
            border-radius: 50%;
            width: 30px;
            height: 30px;
        }
    }

    p{
        margin-left: 10px;
    }
}

#filtres{
    display: flex;
    align-items: center;
    h2{
        margin-right: 20px;
        font-weight: bold;
    }
}

.filtre{
    display: flex;
    align-items: center;
    border: 2px solid $gris;
    border-radius: 50px;
    height: 50px;
    margin: 20px;

    h2{
        margin: 0;
        margin-left: 25px;
    }
    &_container{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &_icone_container{
        background-color: $bleuclair;
        color: $bleu;
        height: 51px;
        width: 51px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover{
        box-shadow: black 0 0 5px 0;
    }
}


.section{
    background-color: $gris;
    padding: 25px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}

#main{
    display: flex;
    width: 90%;
    max-width: 1300px;
    h2{
        font-size: 1em;
    }
    a, a:visited{
        color: black;

        .blue{
            color: $bleu;
        }
        .grey{
            color: $gris;
        }
    }
}

#hebergements{
    width: 60%;
    margin-right: 5%;
}

.hebergements_content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.hebergements_element{
    display: flex;
    flex-direction: column;
    background-color:white;
    padding: 5px;
    border-radius: 25px;
    width: 30%;
    margin: 10px 0 10px 0;

    img{
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 25px 25px 0 0;
    }
    &_info{
        margin: 0 0 10px 10px;
    }
}

#populaires{
    width: 30%;
}

footer{
    background-color: $gris;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-content{
    display: flex;
    width: 90%;
    max-width: 1300px;
    justify-content: space-between;

    ul{
        padding: 0;
    }
}